{% extends 'base.html.twig' %}

{% block title %} Recettes | Recettes {% endblock %}

{% block body %}
    <div class="container mt-4">
    <a href="{{ path('recipe.new') }}" class="btn btn-primary"><i class="bi bi-plus-square"></i> Créer une recettes</a>
    {% if not recipes.items is same as([]) %}
        <h1>Mes Recettes</h1>

        <div class="count">
            {{ recipes.getTotalItemCount }} Recettes
        </div>
        {% for message in app.flashes('Succes') %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center mt-4" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% for message in app.flashes('Warning') %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Description</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Favorie</font></font></th>
                    <th scope="col" class="center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edition</font></font></th>
                    <th scope="col" class="center">Suppresion</th>
                    <th scope="col" class="center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">details</font></font></th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recipes %}
                <tr class="table-active">
                    <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.id }}</font></font></th>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.nom }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{(recipe.prix is same as(null))? 'Non rensegné' : recipe.prix}}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.description|slice(0, 20) ~ ' ...'}}</font></font></td>
                    {# <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.time }}</font></font></td> #}
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{recipe.isFavorie }}</font></font></td>
                    
                    {# <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ recipe.getDateCreation()|date('d/m/Y') }}</font></font></td>   #}
                    
                    <td>
                        <a href="{{ path('recipe.update', {'id' : recipe.id}) }}" class="btn btn-secondary"><i class="bi bi-pen"></i></a>
                    </td>
                    <td>
                        <a href="{{ path('recipe.delete', {'id' : recipe.id}) }}" class="btn btn-primary"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                    <td>
                        <a href="{{ path('recipe.show', {'id' : recipe.id}) }}" class="btn btn-primary"><i class="bi bi-three-dots"></i></a>
                    </td>
                </tr>
            {% endfor %}  
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(recipes) }}
        </div
        {% else %}
            <h4>Il faut ajouter des Recettes</h4>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID</font></font></th>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom</font></font></th>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix</font></font></th>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Date Creation</font></font></th>
                </tr>
            </thead>
        </table>
        {% endif %}
    </div>
{% endblock %}
